

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: TT Lakes Neue Trial, sans-serif;
}

body {
    background-color: purple;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    
    margin: 0px 20px 0px 20px;
}

.header-left, .header-middle, .header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
   
}

.header-middle, .divider1 {
    display: none;
}

 .icon {
    height: 40px;
    cursor: pointer;
}

.logo {
    width: 97px;
    height: 51px;
}

.divider1, .divider2 {
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
}

.title {
    margin: 24px 0px;
}

.title h1 {
    font-size: 28px;
    border-left: 4px solid #41f6d7;
    padding-left: 12px;
    margin-bottom: 24px;
    font-style: TT Lakes Neue Trial, sans-serif;
}

.pc-only {
    display: none;
}

.tabs {
    height: 40px;
    display: flex;
    overflow-x: auto;
    gap: 20px;
    white-space: nowrap;
    margin-left: 16px;
    background-color: bisque;
    scrollbar-width: none;
}

.tabs div {
    color: #7e7e82;
    padding: 5px 16px;
    border: 1px solid transparent;
}
.tab1 {
    display:none;
}

.tabs .active {
    background: #fff;
    border: 1px solid #b8ffec;
    border-radius: 5px;
    padding-right: 165px;
}

.content {
    background-color: #f8f8f8;
    border-top: 1px solid #b8ffec;
    background-color: purple;

}
.leftcontent {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.para2 {
    display:none;
}
.text p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.readmore {
    vertical-align: middle;
    margin: 10px 0px 2px 10px;
}

.feature-img {
    width: 100%;
    border-radius: 6px;
}
/* --- Tablet 768px --- */
@media (min-width: 768px) {

    .header-left, .header-end {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-middle {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
    }
           
    .divider1 {
        display: flex;

   
    }
    .tabs {
        justify-content: space-between;
    }

    .tab5, .tab7 {
        display:none;
    }

    .leftcontent {
        flex-direction: row; /* Split image and text */
        align-items: flex-start;
    }

    .para1,.para2 {
        display: block;
    }


    .text {
        flex: 1;
    }

    .image-side {
        flex: 1;
    }
}

/* --- Desktop 1120px --- */
@media (min-width: 1063px){

    .main-container {
        margin-top: 20px;
    }
    
    .header{
        display: none;
    }

    .pc-only {
        display: block;
        margin: 20px 10px;
    }

    .content{
        border-top: none;
       
    }

    .content-all {
        display: flex;
        justify-content: space-between;
    }


    .tabs {
        flex-wrap: wrap; 
        justify-content: space-evenly;
    }

    .tab1, .tab5, .tab7 {
        display: block;
    }

    .tabs .tab2 {
        background: transparent;
        border: none;
    }

    .tabs .tab1 {
        background: #fff;
        border: 1px solid #b8ffec;
        border-radius: 5px;
        padding-right: 25px;
    }

    .tab3{
        display:none;
    }

    .tab7{
        display: flex;
        justify-content: start;
        align-items: center;
    }
}
